
.new-project-form  {
  /* background-color: lawngreen; */
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.top-save-btn-div {
  display: flex;
  justify-content: flex-end;
  background-color: magenta;
  /* position: fixed; */
  width: 100%;
  /* margin-left: 256px; */
}


.new-project-form .top-save-btn  {
  background: #B6E6BD;
border-radius: 10px;
height: 37.5px;
font-size: 14px;
line-height: 20px;
  position: fixed;
/* identical to box height */

text-align: center;

color: #5B5656
}

.form-content {
  margin-top: 18px;
padding: 0px;
}

.accordion-form {
  margin-top: 65px;
  /* border: 1.5px solid #A4D4AE; */
box-sizing: border-box;
border-radius: 10px;
width: 708px;

}



.accordion-form .card {
  border: 1.5px solid #A4D4AE;
  border-bottom: 1.5px solid #A4D4AE !important;

    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
        border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
box-sizing: border-box;
border-radius: 10px;
padding: 0 24px;
/* background-color: maroon; */
margin-bottom: 56px;

}

.accordion-form .card .card-header {
box-sizing: border-box;
border-radius: 0;
padding: 0px;
display: flex;
justify-content: space-between;
height: 70px;
align-items: center;
box-shadow: none;
background-color: transparent;
}

.accordion-form .card .card-header .title {
  font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #5B5656;
}

.accordion-form .card .card-body {
  padding: 0 !important;

}

.bottom-btn-div {
width: 708px;
}

.bottom-btn-div .btn {
  border-radius: 7.5px;
  height: 35px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.bottom-btn-div .btn.bottom-save-btn {
  background-color: #B6E6BD;
  color: #5B5656;
  margin-left: 20px;
}

.bottom-btn-div .btn.bottom-cancel-btn {
  background-color: transparent;
  color: #DC4343;
  margin-left: 20px;
  border: 1px solid #DC4343;
}