.sidebar-nav {
  margin-top: 40px;
  height: -webkit-fill-available;
}

.sidebar-nav .sidebar-nav_item{
  height: 35px;
  /* background: rgba(111, 107, 107, 0.15); */
  border-radius: 10px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-nav .sidebar-nav_item:first-child{
  background: rgba(111, 107, 107, 0.15);
}

.sidebar-nav .sidebar-nav_item a img{
  height: 20px;
  width: 20px;
}

.sidebar-nav .sidebar-nav_item a p{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #5B5656;
}

.sidebar-nav .sidebar-nav_item.logout{
border-top: 0.5px solid rgba(91, 86, 86, 0.5);  
border-radius: 0;
padding-top: 15px;
}