.top-btn-group {
  display: flex;
  justify-content: start;
  position: fixed;
  width: 100%;
  z-index: 3;
  /* margin-left: 256px; */
}

.top-btn-group .top-save-btn {
  background: #b6e6bd;
  border-radius: 10px;
  height: 37.5px;
  font-size: 14px;
  line-height: 20px;
  margin-right: 50px;
  /* position: fixed; */
  /* identical to box height */

  text-align: center;

  color: #5b5656;
}

.react-responsive-modal-modal {
  width: 800px;
  border-radius: 4rem;
}

.react-responsive-modal-modal .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: #7fcd91;
  margin-bottom: 22.5px;
}

.react-responsive-modal-modal .form-input:nth-child(2) {
  margin-top: 0;
}

.react-responsive-modal-modal .btn.bottom-save-btn {
  background-color: #b6e6bd;
  color: #5b5656;
  margin-left: 20px;
  border-radius: 7.5px;
  height: 35px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
